header.bg-indigo-500.p-4 
  .container.mx-auto.flex.justify-between.items-center
        a(href="/")
            h1.text-2x1.text-white.font-extrabold.text-center Bienes 
                span.font-normal Raices  
        Nav(class='my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden')
            a(href="") Mis Propiedades      
            a(href="") Mis Perfil     
            a( class="bg-indigo-900 py-2 px-10 rounded-lg" href="") Cerrar Sesión      